@media only screen and (max-width: 599px) {
  .homeBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  .homeBanner img {
    width: 100%;
    min-width: 800px;
    overflow: hidden;
  }

  .homeBanner .bannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    min-height: 180px;
  }
  .homeBanner .slogan {
    color: #fff;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0.3em;
    padding: 0 20px;
  }

  .homeBanner .tagline {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
  }

  .homeBanner .blueButton {
    margin-top: 0.5em;
  }

  div.featuredArtists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    box-sizing: border-box;
  }
}
