.newsLetter input {
  margin-right: 3px;
}

.homeBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.homeBanner img {
  width: 100%;
}

.homeBanner .bannerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
}

.homeBanner .slogan {
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin-bottom: 1em;
  padding: 0 20px;
}
.homeBanner .tagline {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  padding: 0 20px;
}
.homeBanner .blueButton {
  margin-top: 3em;
}

div.featuredArtists {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
}
