@media only screen and (max-width: 899px) {
  .lightbox {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: scroll;
    padding: 40px;
    box-sizing: border-box;
  }

  .lightbox .content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    vertical-align: top;
    height: 100%;
  }

  .lightbox .content img.profileImg {
    width: 100%;
    min-width: 300px;
    border: 1px solid #ddd;
  }
  .lightbox .content p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #242124;
    margin: 0 0 30px 0;
    padding: 0;
  }
  .fixed {
    position: fixed;
  }
  .lightbox .close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .lightbox .close img {
    width: 30px;
    height: 30px;
    padding: 0 0 20px 0;
  }
  .content .socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
  }
  .content .socialMedia a {
    margin: 0 10px;
  }
  .content .socialMedia img {
    height: 30px;
    width: 30px;
  }
  .info {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    font-size: 12px;
    margin: 20px 0;
  }

  .info .label {
    margin-right: 10px;
    font-weight: bold;
  }

  .info .description a:visited,
  .info .description a:active {
    text-decoration: none;
    color: #011526;
  }

  .info .description a:hover {
    text-decoration: underline;
  }

  .lightbox .buttonRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
}
