@media only screen and (max-width: 900px) {
  .eventsNews {
    background-color: #fff;
  }
  .eventsNewsCols {
    padding: 0 20px;
  }
  .eventsNewsCols {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #242124;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
  }

  .eventsNewsCols h2 {
    margin: 0 0 10px 0;
  }

  .eventsNewsCols h2 a:visited,
  .eventsNewsCols h2 a:active {
    text-decoration: none;
    color: #011526;
  }

  .eventsNewsCols h2 a:hover {
    text-decoration: underline;
  }

  .eventsCol {
    padding: 0;
  }

  .eventNewsCol .learnMore,
  .recentEventCol .learnMore {
    margin-top: 10px;
  }

  .recentEventCol {
    margin-bottom: 50px;
  }
  .eventNewsCol {
    margin-bottom: 30px;
  }

  .eventNewsCol .title,
  .eventNewsCol .date {
    font-weight: bold;
  }

  .eventNewsCol .title {
    font-size: 18px;
    font-weight: bold;
  }

  .eventNewsCol.recentEventCol .title {
    font-size: 21px;
  }

  .eventNewsCol.recentEventCol .recentEventThumb img {
    width: 100%;
  }

  .eventNewsCol .teaser {
    margin-top: 5px;
  }
  .eventsCol.middleCol {
    padding: 0;
  }
}
