.eventsNews {
  background-color: #fff;
}
.eventsNewsCols {
  padding: 0 20px;
}

.eventsNewsCols {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #242124;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 80px;
}
.eventsNewsCols h2 {
  margin: 0 0 10px 0;
}
.eventsNewsCols h2 a:visited,
.eventsNewsCols h2 a:active {
  text-decoration: none;
  color: #011526;
}
.eventsNewsCols h2 a:hover {
  text-decoration: underline;
}
.eventsCol.middleCol {
  padding: 0 30px;
}
.eventsCol h2 {
  font-size: 28px;
}
.eventNewsCol .learnMore,
.recentEventCol .learnMore {
  margin-top: 10px;
}
.eventNewsCol {
  padding-bottom: 20px;
  margin-bottom: 30px;
  height: 120px;
  border-bottom: 1px solid #ccc;
}
.eventNewsCol:nth-last-child(1) {
  border-bottom: none;
}
.eventNewsCol .title,
.eventNewsCol .date,
.recentEventCol .date {
  font-weight: bold;
}
.eventNewsCol .title {
  font-size: 18px;
  font-weight: bold;
}
.eventsCol.recentEventCol .title {
  font-size: 28px;
  font-weight: bold;
}
.eventsCol.recentEventCol .recentEventThumb img {
  width: 100%;
  border: 1px solid #ccc;
}
.eventNewsCol .teaser,
.recentEventCol .teaser {
  margin-top: 5px;
}
