.article {
  display: flex;
  margin: 20px;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.article:last-child {
  border-bottom: none;
}
.article article {
  width: 50%;
}
.article .media {
  width: 50%;
  max-width: 400px;
  margin-left: 40px;
}
.article img,
.article iframe {
  width: 100%;
  border: 1px solid #ccc;
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.tagline {
  font-size: 11px;
  margin: 2px 0;
}
.readMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.readMore button {
  background-color: #011526;
  color: #fff;
  border: 0;
  border-radius: 20px;
  padding: 5px 10px;
  font-family: lato;
  font-size: 12px;
}
