.artist {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 300px;
  margin: 0 20px 20px 0;
  background-color: #fff;
  border: 1px solid #ddd;
}

.artist img {
  width: 100%;
}

.artist .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0 10px;
  width: inherit;
  font-size: 14px;
}

.artist .description .teaser {
  color: #242124;
}

.artist .description h3.name {
  text-align: center;
  color: #242124;
  font-size: 21px;
  color: #011526;
  margin: 10px 0 0 0;
  padding: 0;
}

.artist .description .blueButton {
  text-align: center;
  margin: 30px 0 30px 0;
}

.artist .info {
  display: flex;
  align-items: left;
  font-size: 11px;
  padding: 5px 10px 0 10px;
}

.artist .info .label {
  width: 30%;
}

.artist .socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.artist .socialMedia a {
  margin: 0 10px;
}
.artist .socialMedia img {
  height: 20px;
  width: 20px;
}
