@media only screen and (min-width: 901px) {
  .tablet.artistTiles {
    display: none;
  }

  .desktop.artistTiles {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
