.event {
  display: flex;
  margin: 20px;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.event:last-child {
  border-bottom: none;
}
.event article {
  width: 50%;
}
.event .media {
  width: 50%;
  max-width: 400px;
  margin-left: 40px;
}
.event img,
.event iframe {
  width: 100%;
}
.event .date {
  font-weight: bold;
}
.events .buttonBar {
  margin: 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.events .navOption {
  border: 1px solid #011526;
  background-color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #011526;
  padding: 10px 8px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}
.events .navOption.selected {
  background-color: #011526;
  color: #fff;
}

.events .navOption a,
.events .navOption a:visited,
.events .navOption a:active {
  color: #011526;
  text-decoration: none;
}

.events .navOption a:hover {
  color: #011526;
  text-decoration: underline;
}
.events .monthPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px 0;
}
.events .monthPicker .month {
  color: #011526;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0 20px;
}
.events h3.noResults {
  color: #011526;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin: 80px 0;
}
