@media only screen and (min-width: 901px) {
  .sideBar {
    height: 100%;
  }

  .sideBar .newsLetter {
    margin-bottom: 50px;
  }

  .sideBar .newsLetter input {
    height: auto;
    box-sizing: border-box;
    width: 100%;
  }

  .sideBar {
    max-width: 400px;
    min-width: 250px;
    margin-left: auto;
    box-sizing: border-box;
  }

  .sideBar .navOption {
    border: 1px solid #011526;
    background-color: #fff;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #011526;
    padding: 20px 10px;
    margin-bottom: 10px;
  }

  .sideBar .navOption a,
  .sideBar .navOption a:visited,
  .sideBar .navOption a:active {
    color: #011526;
    text-decoration: none;
  }

  .sideBar .navOption a:hover {
    color: #011526;
    text-decoration: underline;
  }

  .sideBar .content {
    background-color: #1f61a6;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 20px;
  }

  .sideBar .content h2 {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
  }

  .sideBar .content img {
    width: 100%;
    border: 1px solid #eee;
  }

  .sideBar .title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
  }

  .sideBar .newsLetter input {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    border: 1px solid #eee;
    padding: 8px;
  }
  .sideBar .blueButton {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
  }
  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
